<!DOCTYPE html>

{% load static %}
{% load compress %}

<!--
    LogUI Server
    Part of the LogUI Framework
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'logui/css/normalize.css' %}" />
        {% endcompress %}

        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'logui/less/core.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'logui/less/icons.less' %}" />
        {% endcompress %}

        {% block cssblock %}
        {% endblock %}

        <title>LogUI</title>
    </head>

    <body>
        <!-- <div id="approot">
        {% block bodyblock %}
        {% include 'logui/nojs.html' %}
        {% endblock %}
        </div> -->

        
        <div id="approot">

            <header class="tudelft">
                <a href="#"><img src="{% static 'logui/img/logo.svg' %}" alt="LogUI Logo" /></a>
                <span class="version">v0.4.0</span>
                <span class="tagline">Server Preview</span>
            </header>
            <nav class="trail">
                <ul>
                    <li><a href="#">LogUI</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#"><strong>SearchX</strong></a></li>
                </ul>
            </nav>
            <nav class="menu">
                <ul class="categories">
                    <li><a class="icon-application dark" href="#">Applications</a></li>
                    <li class="user"><a class="icon-user dark" href="#">User Management</a></li>
                </ul>
                <div class="sub">
                    <h3>Applications</h3>

                    <h4>Current Applications</h4>

                    <ul>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application One</span></a></li>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application Two</span></a></li>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application Three</span></a></li>
                    </ul>

                    <h4>Settings</h4>
                    <ul>
                        <li><a href="#" class="noanimation icon-add dark"><span>Create New Application</span></a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <div class="header-container">
                    <h1><span class="indicator green"></span>Applications<span class="subtitle">TU Delft</span></h1>
                    <div class="buttons-top">
                        <button>Create New</button>
                    </div>
                </div>
                
                <p>
                    <span class="logui">Log<span>UI</span></span> lets you create a series of applications. An application could be, for example, your experimental system.
                </p>

                <div class="table applications">

                    <div class="row header">
                        <span></span>
                        <span><strong>Name</strong></span>
                        <span class="centre"><strong>Created On</strong></span>
                        <span class="centre"><strong>Flights</strong></span>
                    </div>

                    <div class="row double-height">
                        <span><span class="indicator green"></span></span>
                        <span class="double"><span class="title"><strong>SearchX</strong></span><span class="subtitle mono">61575781-ddd8-4015-91b1-a4337eed4aee</span></span>
                        <span class="centre"><a href="#inner">2021-03-02 12:34</a></span>
                        <span class="flights centre">0</span>
                        <a class="row-link" href="#big">View</a>
                    </div>

                    <div class="row">
                        <span><span class="indicator green"></span></span>
                        <span>Hello World</span>
                        <span class="centre">2021-03-02 12:34</span>
                        <span class="flights centre">0</span>
                    </div>

                </div>


                
            </main>
        </div>

        <!-- <div id="approot">

            <header class="tudelft">
                <a href="#"><img src="{% static 'logui/img/logo.svg' %}" alt="LogUI Logo" /></a>
                <span class="version">v0.4.0</span>
                <span class="tagline">Server Preview</span>
            </header>
            <nav class="trail">
                <ul>
                    <li><a href="#">LogUI</a></li>
                    <li><a href="#">Applications</a></li>
                    <li><a href="#"><strong>SearchX</strong></a></li>
                </ul>
            </nav>
            <nav class="menu">
                <ul class="categories">
                    <li><a class="icon-application dark" href="#">Applications</a></li>
                    <li class="user"><a class="icon-user dark" href="#">User Management</a></li>
                </ul>
                <div class="sub">
                    <h3>Applications</h3>

                    <h4>Current Applications</h4>

                    <ul>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application One</span></a></li>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application Two</span></a></li>
                        <li><a href="#" class="noanimation icon-application dark"><span>Application Three</span></a></li>
                    </ul>

                    <h4>Settings</h4>
                    <ul>
                        <li><a href="#" class="noanimation icon-add dark"><span>Create New Application</span></a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <div class="header-container">
                    <h1>
                        <span class="indicator green"></span>SearchX<span class="subtitle">TU Delft</span>
                    </h1>
                    <div class="buttons-top">
                        <button>Stop All</button>
                        <button>+</button>
                        <button>-</button>
                    </div>
                </div>

            </main>
        </div> -->


    </body>

    {% block jsblock %}
    {% endblock %}

</html>