<!DOCTYPE html>

{% load static %}
{% load compress %}

<!--
    LogUI Server
    Part of the LogUI Framework
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'logui/css/normalize.css' %}" />
        {% endcompress %}

        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'logui/less/core.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'logui/less/icons.less' %}" />
        {% endcompress %}

        {% block cssblock %}
        {% endblock %}

        <title>LogUI</title>
    </head>

    <body>
        <div id="approot">
        {% block bodyblock %}
        {% include 'logui/nojs.html' %}
        {% endblock %}
        </div>
    </body>

    {% block jsblock %}
    {% endblock %}

</html>