{% extends 'logui/base.html' %}

{% load static %}
{% load compress %}

{% block cssblock %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/loadingSplash.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/header.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/nav/trail.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/nav/menu.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/nav/grid.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/main.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/footer.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/login.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/applications.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/flight.less' %}" />
    <link rel="stylesheet" type="text/less" href="{% static 'logui/less/about.less' %}" />
    {% endcompress %}
{% endblock %}

{% block jsblock %}
    <script type="text/javascript">
        LOGUI_CLIENTAPP_HOSTNAME='{{ request.get_host }}';
        LOGUI_CLIENTAPP_STATICROOT='{% static '' %}';
    </script>
    {% compress js %}
    <script type="module" src="{% static 'logui-client/app.js' %}"></script>
    {% endcompress %}
{% endblock %}